.linkedin-logo {
    width: 8%;
    height: 8%;
    margin-top: 10%;
    margin-right: 5%;
}
.github-logo {
    width: 10%;
    height: 10%;
    margin-top: 10%;
    margin-right: 5%;
}

* {
    background-color: #2a2a2a;
    color: white;
    text-align: center;
}

.database{
    width: 50%;
    height: 50%;
}

.dashboard{
    width: 50%;
    height: 50%;
}

.workout{
    width: 50%;
    height: 50%;
}

.notetaker{
    width: 50%;
    height: 50%;
}



